<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script type='text/javascript'>
      $(function() {
          $('#getcityarea').on('submit', function(event){
            event.preventDefault();
            $.ajax({
            url: "{% url 'core:get_results' %}",
            type: "POST",
            data:{city_id:$('#id_city').val(),
                  locality_id:$('#id_locality').val()},
            success:function(response){
              $('#resultdisplay').html("");
              if(typeof response !='object')
              {
                  $('#resultdisplay').append('<h4>'+response+'<h4>');
              }
              else
              {
                  $('#resultdisplay').append('<h3>'+"Properties on Rent"+'<h3>');                 
                  $.each(response, function( i, jsonobjectlist ){
                     $.each(jsonobjectlist, function( key, value ){
                        console.log(key,value)
                        $('#resultdisplay').append('<p>'+key+':'+value+'</p>');
                     });
                     $('#resultdisplay').append('-------------------------');
                  });
              }
            },
            error: function(data){
                  $('#resultdisplay').html("");
                  console.log(data);
              },
            });
            })
      })
    </script>
  </head>
  <title>Scrapping-POC</title>
  <body>
    <div class="container">
      <h3> Scrapping-POC </h3>

      <form id="getcityarea" method="POST">
        {% csrf_token %}
         <table id="tabledata">
           <tr>
            <td colspan="0" align="center">
             City
            </td>
            <td colspan="0">
             <input type="text" name="city" id="id_city" placeholder="Enter City" required>
            </td>
           </tr>
           <tr>
            <td colspan="0" align="center">
             Locality
            </td>
            <td colspan="0">
             <input type="text" name="area" id="id_locality" placeholder="Enter Locality" required>
            </td>
           </tr>
           <tr>
            <td>
            </td>
            <td>
              <input type="submit" name="Submit">
            </td>
           </tr>
       </table>       
      </form>

      <!--Block for displaying results after ajax request-->
      <div id="resultdisplay">
      </div>

    </div>
  </body>
</html>

